/** 明青主题 */

$--color-primary: #2bccce;
.el-tree-node.is-current>.el-tree-node__content {
    background-color: $--color-primary !important;
}

// 表格选中行
.el-table__body tr.current-row>td {
    background-color: $--color-primary !important;
}

$--color-white: #ffffff;
$--color-black: #051d3f;
.vue-treeselect__menu-container div {
    background: $--color-white !important;
}

.vue-treeselect .vue-treeselect__single-value {
    color: $--color-black !important;
}

// 表格斑马行
$--table-striped-row-background-color: #fafafa;
.el-table__body {
    & tr.el-table__row--striped {
        td {
            background: $--table-striped-row-background-color !important;
        }
    }
}

@import "../eleadmin/index";